Repository CalleEklund/Traste: changes, and which GitLab CI jobs are due for each by the changed paths.
All: npm-backend, unit-test-backend, deploy-firestore, deploy-functions, deploy-hosting

Path conditions:
  npm-backend: any of: functions/**/*
  unit-test-backend: any of: functions/**/*
  deploy-firestore: any of: firestore.rules, firestore.indexes.json
  deploy-functions: any of: functions/**/*
  deploy-hosting: any of: app/traste/**/*

Add check so that frontend code is only executed when changes were made to the frontend
  .gitlab-ci.yml
Due: none

Add eslint check for functions/eslintrc.js
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

"Fix eslint problems, pipeline should work now"
  .vscode/settings.json
  app/traste/.babelrc
  app/traste/.eslintrc.js
  app/traste/package-lock.json
  app/traste/package.json
  app/traste/src/App.js
  app/traste/src/components/Header.js
  app/traste/src/components/Inputfield.js
  app/traste/src/components/MaterialField.js
  app/traste/src/components/Selection.js
  app/traste/src/index.js
  app/traste/src/reportWebVitals.js
  app/traste/src/screens/ReportPage.js
  app/traste/src/service-worker.js
  app/traste/src/serviceWorkerRegistration.js
  app/traste/src/setupTests.js
  functions/.eslintignore
  functions/.eslintrc.js
  functions/databaseSchemas.js
  functions/firestoreClient.js
  functions/index.js
  functions/test/createEmployeeTest.js
  functions/test/createFacilityTest.js
  functions/test/createReportTest.js
  functions/test/createSiteTest.js
  functions/test/createWasteTest.js
  package-lock.json
  package.json
Due: npm-backend, unit-test-backend, deploy-functions, deploy-hosting

"Add gitattributes file to convert to crlf"
  .gitattributes
  app/traste/.eslintrc.js
  functions/databaseSchemas.js
  functions/firestoreClient.js
Due: npm-backend, unit-test-backend, deploy-functions, deploy-hosting

"LF linebreak is now standard, should fix CI"
  .gitattributes
  app/traste/src/components/Header.js
  app/traste/src/components/Inputfield.js
  app/traste/src/components/MaterialField.js
  app/traste/src/components/Selection.js
  app/traste/src/index.js
  app/traste/src/service-worker.js
  functions/.eslintrc.js
  functions/firestoreClient.js
  functions/package.json
Due: npm-backend, unit-test-backend, deploy-functions, deploy-hosting

"Error in eslintrc fixed"
  app/traste/.eslintrc.js
  functions/.eslintrc.js
Due: npm-backend, unit-test-backend, deploy-functions, deploy-hosting

Delete settings.json
  .vscode/settings.json
Due: none

"All files are now LF"
  .gitignore
  functions/databaseSchemas.js
  functions/index.js
Due: npm-backend, unit-test-backend, deploy-functions

"Updated eslintrc files with more rules"
  .gitignore
  .vscode/settings.json
  app/traste/.eslintrc.js
  app/traste/src/service-worker.js
  functions/.eslintignore
  functions/.eslintrc.js
  functions/firestoreClient.js
  functions/test/createEmployeeTest.js
  functions/test/createFacilityTest.js
  functions/test/createReportTest.js
  functions/test/createSiteTest.js
  functions/test/createWasteTest.js
Due: npm-backend, unit-test-backend, deploy-functions, deploy-hosting

test frontend eslint
  .gitlab-ci.yml
Due: none

"Fixed eslint errors"
  app/traste/src/components/__tests__/Inputfield.test.js
  app/traste/src/components/__tests__/Selection.test.js
Due: deploy-hosting

sync firestore to google sheets
  functions/.eslintrc.js
  functions/firestoreClient.js
  functions/index.js
  functions/package-lock.json
  functions/package.json
  functions/syncData.js
  functions/traste-71a71.json
Due: npm-backend, unit-test-backend, deploy-functions

sync works
  functions/index.js
  functions/syncData.js
Due: npm-backend, unit-test-backend, deploy-functions

Delete .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update .eslintrc.js, added LF as standard
  app/traste/.eslintrc.js
Due: deploy-hosting

FIxed icons and title for app.
  app/traste/public/favicon.ico
  app/traste/public/index.html
  app/traste/public/logo192.png
  app/traste/public/logo512.png
Due: deploy-hosting

"Set LF as VScode choice"
  .vscode/settings.json
Due: none

Activated navigation from report send.
  app/traste/src/App.js
  app/traste/src/screens/ReportPage.js
Due: deploy-hosting

Removed LF/CRLF from eslint.
  .vscode/settings.json
  app/traste/.eslintrc.js
  app/traste/package-lock.json
  app/traste/src/index.js
  app/traste/src/service-worker.js
  app/traste/src/serviceWorkerRegistration.js
  functions/.eslintrc.js
  functions/syncData.js
Due: npm-backend, unit-test-backend, deploy-functions, deploy-hosting

Added ignore for frontend tests.
  app/traste/.eslintignore
Due: deploy-hosting

Corrected path.
  app/traste/.eslintignore
Due: deploy-hosting

Update .gitlab-ci.yml, disabled test stages for now
  .gitlab-ci.yml
Due: none

ESLinted frontend tests.
  app/traste/.eslintignore
  app/traste/src/components/__tests__/Header.test.js
  app/traste/src/components/__tests__/Inputfield.test.js
  app/traste/src/components/__tests__/MaterialField.test.js
  app/traste/src/components/__tests__/Selection.test.js
  app/traste/src/components/__tests__/__snapshots__/Inputfield.test.js.snap
  app/traste/src/components/__tests__/__snapshots__/MaterialField.test.js.snap
  app/traste/src/components/__tests__/__snapshots__/Selection.test.js.snap
Due: deploy-hosting

Update .gitlab-ci.yml, removed test stage for now
  .gitlab-ci.yml
Due: none

Deployment should work now
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Added correct functions URL
  app/traste/src/screens/ReportPage.js
Due: deploy-hosting

Added sheets sync to /createreport
  functions/index.js
Due: npm-backend, unit-test-backend, deploy-functions

Fixed logo and waste total element.
  app/traste/src/assets/traste_logo.png
  app/traste/src/screens/ReportPage.js
Due: deploy-hosting

Påbörjat knapp för bildtagning.
  app/traste/src/assets/font.woff2
  app/traste/src/screens/ReportPage.js
Due: deploy-hosting

prototype webpage
  app/traste/src/App.js
  firebase.json
  functions/firestoreClient.js
  functions/index.js
  functions/package.json
  functions/service_account.json
  public/404.html
  storage.rules
Due: npm-backend, unit-test-backend, deploy-functions, deploy-hosting

Uploading pictures to emulator now works.
  app/traste/src/App.js
  functions/firestoreClient.js
  functions/package-lock.json
  functions/package.json
  storage.rules
Due: npm-backend, unit-test-backend, deploy-functions, deploy-hosting

Fixed the styling of the buttons.
  app/traste/src/components/Inputfield.js
  app/traste/src/screens/ReportPage.js
Due: deploy-hosting

progress?
  app/traste/src/App.js
Due: deploy-hosting
